.custom-dialog-pane {
    -fx-background-color: #f9f9f9;
    -fx-background-radius: 5px;
}

.custom-dialog-pane .header-panel {
    -fx-background-color: #f1f1f1;
    -fx-text-fill: #333333;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.custom-dialog-pane .content-text {
    -fx-text-fill: #555555;
    -fx-font-size: 14px;
}

.custom-dialog-pane .button {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-padding: 4px 8px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 2, 0, 0, 1);
}

.custom-dialog-pane .button:hover {
    -fx-background-color: #E84910;
    -fx-text-fill: #FFFFFF;
}

.custom-dialog-pane .button:pressed {
    -fx-background-color: #E84910;
    -fx-text-fill: #FFFFFF;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 4, 0, 0, 2);
}